<!--
  Generated template for the Survey page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar>
    <ion-title>Bienvenidos a la Encuesta</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <div *ngIf="!started">
    <h3>Listos Para comenzar</h3>

    <p>
      Iner 2017
    </p>
    <p></p>
    <p>
      <button ion-button block color="primary" icon-left (click)="startSurvey()">
    <ion-icon name="happy"></ion-icon>
    Iniciar Encuesta
  </button>
    </p>
  </div>

  <div *ngIf="started">
    <page-survey-slides></page-survey-slides>
  </div>
  {{input2}}
</ion-content>